<div id="dice-roll-wrapper">
  <div id="dice-value" class="dice w100p f jcc aic"> 0 </div>
  <div id="dices" class="dice-list list w100p">
    <div>d4</div>
    <div>d6</div>
    <div>d10</div>
    <div>d12</div>
    <div>d20</div>
    <div>d100</div>
  </div>
</div>
<style>
#dice-roll-wrapper {
  display : flex;
  width   : 100%;
  height  : 100%;
}

#dice-value {
  font-size : 30pt;
}

#dices {
  display : grid;
  grid-template-columns : 1fr 1fr 1fr;
}

#dices > div {
  display         : flex;
  align-items     : center;
  justify-content : center;

  border : 1px solid #00000011;
}

#dices > div:hover {
  cursor     : pointer;
  background : #00000011;
}
</style>

<script>
  (function() {
    let diceNumber = document.querySelector(".dice");
    let diceList = document.querySelector(".dice-list");

    function roll(sides) {
      let value = Math.random() * sides + 1;
      value = Math.floor(value);
      diceNumber.innerHTML = `${value}`;
    }

    async function niceRoll(sides, n) {
      for (let _ in [...Array(n).keys()]) {
	roll(sides);
	await new Promise(r => setTimeout(r, 75));
      }
    }

    let dices = document.querySelector("#dices");
    let values = [4, 6, 10, 12, 20, 100];

    for (let i in values) {
      let dice = dices.children[i];
      let value = values[i];

      dice.addEventListener("click", () => {
	niceRoll(value, 8);
      });
    }
  })();
</script>
