:root {
  --bg: #282828;
  --bg-1: #202020;
  --bg-2: #181818;
  --fg: #cccccc;
  --fg-1: #aaaaaa;
  --fg-2: #888888;
}

@font-face {
  font-family: Old English Five;
  src: url("old-english-font.ttf");
}

body {
  color: var(--fg);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: sans-serif;
}

.f { display: flex; }

.g { display: grid; }

.fc { flex-direction: column; }

.aic { align-items: center; }

.jcc { justify-content: center; }

.jcsb { justify-content: space-between; }

.scroll { overflow-y: scroll; }

.w100p { width: 100%; }

.h100p { height: 100%; }

.w100vw { width: 100vw; }

.h100vh { height: 100vh; }

.p3rem { padding: 0.3rem; }

.p5rem { padding: 0.5rem; }

.hidden { display: none; }

.wip-border { border: 1px dotted red; }

/** Animations */

.smooth { transition: all 1s ease-in; }

/** Colors */

.fg-default { color: var(--fg); }

.bg-default { background: var(--bg); }

/** Font size */

.fs-12 { font-size: 12pt; }

.fs-36 { font-size: 36pt; }

.fs-48 { font-size: 48pt; }

/** Label */

label {
  margin: 1em 0 0.5em 0;
}

/** Input */

input {
  color: var(--fg);
  height: 2rem;
  border: 2px solid var(--fg);
  background: transparent;
  padding-left: 0.5rem;
  border-radius: 1em;
}

input:focus {
  outline: none;
}

input[type="range"] {
  height: 10px;
  border: none;
  padding: 0px;
  border-radius: 0;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  background: var(--bg-2);
  appearance: none;
}

/** Scrollbar */

::-webkit-scrollbar {
  width: 0.50em;
}

::-webkit-scrollbar-thumb {
  background: var(--fg-2);
}

::-webkit-scrollbar-track {
  background: var(--bg-1);
}

.document {
  padding: 1.5rem;
}

.document h1 {
  padding: 1rem 0 0 0;
  font-size: 2rem;
}

.document h2 {
  padding: 0.90rem 0 0 0;
  font-size: calc(2rem * 0.95);
}

.document h3 {
  padding: 0.85rem 0 0 0;
  font-size: calc(2rem * 0.90);
}

.document h4 {
  padding: 0.80rem 0 0 0;
  font-size: calc(2rem * 0.85);
}

.document ul {
  padding: 0.80rem 0 0 1.5rem;
}

.document p {
  padding: calc(1rem * 0.50) 0;
}

.document hr {
  border: none;
  border-bottom: 1px dashed #888;
  padding: 0.80rem 0 0 0;
}
