<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="static/dashboard.css"/>
    </head>
    <body>
        <div id="dashboard">
            <div id="sidebar">
                <div class="icon"><div>A</div></div>
                <div class="icon"><div>B</div></div>
                <div class="icon"><div>C</div></div>
            </div>
        </div>
    </body>
</html>
