<script>
  const fullscreen = () => {
    document.body.webkitRequestFullScreen();
  };
</script>

<section id="container">
  <form
      hx-post="component/player-menu"
      hx-trigger="load, submit"
      hx-target="#component">
    <input type="hidden" name="key" value="{{key}}"/>
    <input type="submit" value="" id="back-button">
  </form>
  <div id="component"></div>
</section>

<style>

:root {
  --bg: #282828;
  --hl: #ffcccc99;
}

body {
  width: 100vw;
  height: 100vh;

  color: white;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--bg);
}

body::backdrop {
  background: var(--bg);
}


section {
  border: 1px solid var(--hl);
}

button {
  color: white;

  background: transparent;
  border: 1px solid var(--hl);
}

button:hover {
  cursor: pointer;
  background: #ffffff11;
}

input[type="submit"] {
  color: white;

  background: transparent;
  border: 1px solid var(--hl);
}

input[type="submit"]:hover {
  cursor: pointer;
  background: #ffffff11;
}

#container {
  width: 90vw;
  height: 90vh;
  display: flex;
}

#component {
  width: 100%;
  height: 100%;
}

#back-button {
  width: 1rem;
  height: 100%;
  border: none;
  border-right: 1px solid var(--hl);
  border-radius: 0px;
}

</style>

<script>
  (function() {
    const query = (q) => document.querySelector(q);

    function configurePage(e) {
      const width = window.innerWidth;
      const height = window.innerHeight;
      const horizontal = width > height;

      let wrapperDirection = "column";

      if (horizontal) {
	wrapperDirection = "row";
      }

      const wrapper = query("#wrapper");
      wrapper.style.flexDirection = wrapperDirection;
    }

    window.addEventListener("resize", configurePage);
    configurePage();
  })();
</script>
